*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background: rgb(26, 26, 159);
}

header{
    padding-bottom: 40px;
}