<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if tojson %}
        <h1>All comments about this product {{id}}</h1>
        <div class="coments">
            {% for el in tojson %}
                <p>Comment: {{ el.comment }}, feedback: {{ el.feedback }}</p>
            {% endfor %}
        </div>
    {% endif %}

    
    





</body>
</html>